<nav style="margin: 8px 0;">
  <a routerLink="/results" style="margin-right:10px;">Resultados</a>
  <a routerLink="/selecionar">Selecao Heuristica</a>
  |
  <a routerLink="/selecionar-por-filtros" style="margin-left:10px;">Selecao por Filtros</a>
  |
  <a routerLink="/tres-por-linha" style="margin-left:10px;">3 por linha (apostas)</a>
  |
  <a routerLink="/dia-da-sorte" style="margin-left:10px;">Dia da Sorte</a>
  |
  <a routerLink="/dia-da-sorte-apostas" style="margin-left:10px;">Gerar apostas por filtros</a>
</nav>
<router-outlet></router-outlet>
