<h1>Filtros de Loteria</h1>
<form (ngSubmit)="applyFilters()">
  <div *ngFor="let option of filterOptions">
    <label>
      <input type="checkbox" [(ngModel)]="option.checked" name="{{option.value}}">
      {{ option.label }}
    </label>
  </div>

  <h2>Base de Dados</h2>
  <div *ngFor="let dataset of datasets">
    <label>
      <input type="radio" [(ngModel)]="selectedDataset" name="dataset" [value]="dataset.value">
      {{ dataset.label }}
    </label>
  </div>

  <button type="submit">Aplicar Filtros</button>
</form>
