 .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
 }

 .filters input,
 .filters button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
 }

 table {
  width: 100%;
  border-collapse: collapse;
 }

 th, td {
  border: 1px solid #555;
  padding: 4px;
  text-align: center;
 }

 th {
  background-color: #222;
 }
